<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoes-principal</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../styles/index.css" />
  </head>
  <body>
    <nav class="menu">
      <img src="../../../public/pictures/logo.png" alt="" />
      <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Sobre nosotros</a></li>
        <li><a href="">Catalogo</a></li>
        <li><a href="">Destacados</a></li>
        <li><a href="">Contactanos</a></li>
        <!-- <li class="button"><a href="">Login</a></li> -->
      </ul>
    </nav>
    <div class="video">
      <video src=""></video>
    </div>
    <main>
      <section class="presentation">
        <article class="about">
          <h2>¿Quienes somos?</h2>
          <p>
            Bienvenidos a Zapatos liberia,
            <span> tu destino ideal para el calzado perfecto</span>. Descubre
            una amplia selección de zapatos para cada ocasión y estilo. Desde
            elegantes tacones y cómodas sandalias, hasta modernos tenis y
            resistentes botas, tenemos algo para todos. Nuestra misión es
            ofrecerte la mejor calidad, comodidad y tendencia, todo en un solo
            lugar. Ya sea que busques un look casual o algo formal, te ayudamos
            a encontrar el calzado que se adapta a ti. ¡Ven y dale un paso
            adelante a tu estilo con Zapatos liberia.
          </p>
        </article>
        <article class="about">
          <h2>Mision</h2>
          <p>
            En Zapatos liberia, nuestra misión es
            <span
              >proporcionar calzado de alta calidad que combine estilo,
              comodidad y durabilidad, satisfaciendo las necesidades y
              preferencias de nuestros clientes</span
            >
            . Nos esforzamos por ofrecer una experiencia de compra excepcional,
            con un enfoque en la atención personalizada, la innovación en diseño
            y una selección diversa que se adapta a todos los estilos de vida.
            Buscamos inspirar confianza y bienestar en cada paso que dan
            nuestros clientes, contribuyendo a su comodidad y estilo diario.
          </p>
        </article>
        <article class="about">
          <h2>Visión</h2>
          <p>
            Nuestra visión en zapatos liberia es
            <span
              >convertirnos en la tienda líder de calzado, reconocida por la
              excelencia en la calidad de nuestros productos, la innovación en
              diseño y la satisfacción total de nuestros clientes</span
            >. Aspiramos a ser una marca de referencia, no solo por ofrecer una
            amplia variedad de estilos, sino también por promover prácticas
            sostenibles y responsables en la industria del calzado. Queremos
            caminar junto a nuestros clientes en cada paso de su vida,
            brindándoles productos que reflejen su personalidad y les permitan
            destacar con confianza.
          </p>
        </article>
      </section>
      <section class="destacados">
        <article class="card">
          <div class="card-image">
            <img src="../../../public/pictures/nike.png" alt="" />
          </div>
          <div class="card-info">
            <h3>Nike Air Force 1 Low Black</h3>
            <p>
              Los Nike Air Force 1 son un clásico atemporal que combina estilo y
              comodidad en un diseño icónico. Lanzados originalmente en 1982
              como calzado de baloncesto, su popularidad ha trascendido las
              canchas y hoy en día son un referente de la moda urbana.Estos
              sneakers destacan por su perfil bajo, su distintiva suela de goma
              gruesa con tecnología Air para mayor amortiguación, y una
              capellada en piel que ofrece durabilidad y un look premium.
            </p>
          </div>
          <span>2500$</span>
          <footer>
            <button>Comprar</button>
            <button>Ver mas</button>
          </footer>
        </article>
      </section>
    </main>
    <footer>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
    </footer>
  </body>
  <script src="../js/index.js"></script>
  <script src="../components/card.jsx"></script>
</html>
